<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <!-- Book List -->
      <app-book-list
        [bookList]="bookList"
        [genreFilter]="book.genre"
        [authorFilter]="book.author"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (filter)="onFilter()"
        (sort)="onSort($event)"
      ></app-book-list>
    </div>
    <div class="col-4">
      <!-- Book Form -->
      <app-book-form
        [book]="book"
        [editMode]="editMode"
        [genreList]="genreList"
        (submit)="onSubmit($event)"
        (reset)="onResetForm(bookForm)"
      ></app-book-form>
    </div>
  </div>
</div>
