<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <app-book-list
        [bookList]="bookList"
        (editBook)="onEdit($event)"
        (deleteBook)="onDelete($event)"
        (addBook)="onAddBook()"
      ></app-book-list>
    </div>
    <div class="col-4">
      <app-book-form
        [book]="book"
        [genreList]="genreList"
        [editMode]="editMode"
        (formSubmit)="onSubmit($event)"
        (formReset)="onResetForm($event)"
      ></app-book-form>
    </div>
  </div>
</div>
